name: S3 Synchronization

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: jakejarvis/s3-sync-action@master
        with:
          args: --exclude '.git/*' --exclude '.github/*' --exclude '.gitignore' --exclude '.gitattributes'
        env:
          AWS_S3_BUCKET: 'dml-youtube-prod'
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'us-east-1'  
          SOURCE_DIR: 'public' 
          DEST_DIR: 'project025'     